@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Press+Start+2P&family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.conatiner-login {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: 100px 200px 100px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(82, 77, 139) 0, rgb(82, 77, 139) 37%, rgb(102, 21, 195) 95%);
}

.conatiner-title {
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.title-login {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.button-login {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: none;
  background-color: rgb(253, 232, 4);
  color: rgb(82, 77, 139);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
  width: 80%;
  margin: auto;
  height: 40px;
  cursor: pointer;
  font-size: 19px;
}

.button-login:hover {
  color: black;
  border: solid 5px rgb(253, 232, 4);
}

.conatiner-login h2 {
  color: rgb(255, 255, 255);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: 40px;
  font-size: 19px;
}

@media screen and (min-width: 1280px){
  .conatiner-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .title-login {
    font-size: 30px;
    margin-top: 150px;
  }

  .button-login {
    max-width: 280px;
    margin-top: 40px;
  }

  .conatiner-login h2 {
    font-size: 27px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px){
  .conatiner-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .title-login {
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    color: rgb(255, 255, 255);
  }

  .button-login {
    margin-top: 40px;
    max-width: 280px;
  }

  .conatiner-login h2 {
    font-size: 27px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .conatiner-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .title-login {
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    color: rgb(255, 255, 255);
  }

  .button-login {
    margin-top: 40px;
    max-width: 220px;
  }

  .conatiner-login h2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 401px) and (max-width: 480px){
  .conatiner-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .title-login {
    text-align: center;
    font-size: 23px;
    margin-top: 40%;
    color: rgb(255, 255, 255);
  }

  .button-login {
    margin-top: 40px;
    max-width: 210px;
  }

  .conatiner-login h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 270px) and (max-width: 400px) {
  .conatiner-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .title-login {
    text-align: center;
    font-size: 22px;
    margin-top: 40%;
    color: rgb(255, 255, 255);
  }

  .button-login {
    margin-top: 40px;
    max-width: 200px;
  }
}